
:root {
  --bg: #020318;
  --primary-main: #c17bfd;
  --primary-sub: #376dfa;
}
.bg {
  background: var(--bg);
}
.primary {
  color: var(--primary-main);
}
.linear-color {
  background-image:linear-gradient(to right, var(--primary-main), var(--primary-sub));
  background-clip:text;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.linear-bg {
  background-image:linear-gradient(to right, var(--primary-main), var(--primary-sub));
}
.linear-border {
  .content {
    border: 1px solid transparent;
    border-radius: 2px;
    position: relative;
    background-clip: padding-box, border-box;
    color: #fff;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, var(--bg), var(--bg)), linear-gradient(90deg, #8F41E9, #578AEF);
    transition: all 200ms linear;
    cursor: pointer;
    &:hover {
      background-image: linear-gradient(to right, var(--bg), var(--bg)), linear-gradient(90deg, #9e75ce, #b5ef57);
    }
  }
}

.link {
  color: #1890ff;
  text-decoration: underline;
}

.title-lg {
  font-size: 50px;
  font-weight: 600;
  @media screen and (max-width: 900px) {
    font-size: 24px;
  }
  @media (min-width: 901px) and (max-width: 1500px) {
    font-size: 40px;
  }
}
.title-md {
  font-size: 40px;
  font-weight: 600;
  @media screen and (max-width: 900px) {
    font-size: 24px;
  }
  @media (min-width: 901px) and (max-width: 1440px) {
    font-size: 30px;
  }
  @media (min-width: 1441px) and (max-width: 1919px) {
    font-size: 35px;
  }
}

.gray {
  color: #617199;
}
.grey {
  color: #849EBF;
}
.gray-9 {
  color: #98A8D2
}
.gray-9d {
  color: #9D9EC1;
}
.gutter_col {
  margin-bottom: 11vw;
}

.gutter_x {
  padding: 0 18.75vw;
  box-sizing: border-box;
  @media screen and (max-width: 900px) {
    padding: 0 5vw;
  }
  @media (min-width: 901px) and (max-width: 1200px) {
    padding: 0 8vw;
  }
  @media (min-width: 1201px) and (max-width: 1500px) {
    padding: 0 10vw;
  }
  @media (min-width: 1501px) and (max-width: 1919px) {
    padding: 0 13vw;
  }
}

.color-blue {
  color: #3B6FFC !important;
}
.px-56 {
  padding: 0 56px;
}
.px-64 {
  padding: 0 64px;
}
.px-72 {
  padding: 0 72px;
}
.py-12 {
  padding: 12px 0;
}

.desc {
  font-size: 13px;
  @media (min-width: 900px) and (max-width: 1440px) {
    font-size: 14px;
  }
  @media (min-width: 1441px) and (max-width: 1919px) {
    font-size: 15px;
  }
  @media (min-width: 1920px) {
    font-size: 16px;
  }
}
.desc-sm {
  font-size: 12px;
  @media (min-width: 900px) and (max-width: 1440px) {
    font-size: 13px;
  }
  @media (min-width: 1441px) and (max-width: 1919px) {
    font-size: 14px;
  }
  @media (min-width: 1920px) {
    font-size: 14px;
  }
}
.subTitle {
  font-size: 16px;
  @media (min-width: 900px) and (max-width: 1440px) {
    font-size: 16px;
  }
  @media (min-width: 1441px) and (max-width: 1919px) {
    font-size: 18px;
  }
  @media (min-width: 1920px) {
    font-size: 20px;
  }
}